<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

	<Appenders>
	    <!-- Define the console appender and layout-->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n" />
		</Console>

        <!-- Define the file appender and layout-->
		<File name="File" filename="log/output.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %c{10}:%M:%L - %msg%n" />
		</File>
	</Appenders>


    <!-- set the logging output -->
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>